<div class="container" action="/" enctype="multipart/form-data" method="post" id="create">
    <form id="createAccount">
        <label>Email Address:</label>
        <input type="email" class="u-full-width" placeholder="username@mailserver.com" name="createEmail" id="createEmail">
        <label>Create Password:</label>
        <input type="password" class="u-full-width" placeholder="Password" size="6" name="createPassword" id="createPassword">
        <label>Confirm Password:</label>
        <input type="password" class="u-full-width" placeholder="Password" size="6" name="confirmPassword" id="confirmPassword">
        <label>First Name:</label>
        <input type="text" class="u-full-width" placeholder="First Name" name="createFirstName" id="createFirstName">
        <label>Last Name:</label>
        <input type="text" class="u-full-width" placeholder="Last Name" name="createLastName" id="createLastName">
        <input type="button" class="button-primary" value="Submit" id="submit">
    </form>
</div>