<!--    <div class="container bottom">
        <div class="row">
            <div class="twelve columns glow text-center">
                <img src="public/images/HTML5-logo.png">
                <img src="public/images/skeleton-logo.png">
                <img src="public/images/sass-logo.png">
                <img src="public/images/js-logo.png">
                <img src="public/images/nodejs-logo.png">
                <img src="public/images/nedb-logo.png">
            </div>
        </div>
    </div>-->

        <!-- SCRIPTS -->
        <script src="public/javascripts/main.js"></script>

    </body>
</html>